@use "../styles/typography" as *;

footer {
    font-family: "Poppin";
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    width: 25%; 
    padding-top: 2rem; 
}

.footer-small {
    display: flex;
    flex-direction: row;
    }

a {
    color:#C71585;
    padding: 0.25rem;  

    &:hover{
        text-decoration: none;
    }
}