@use "../styles/typography" as *;

.header {

    &-container1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 25%;
        padding: 1rem;
    }

    &-container2 {
        display: flex;
        width: 25%;
        align-items: center;
    }

    &-small {
        padding-left: 1rem;
        font-weight: bold; 
    }

    &-a {
        text-decoration: none;
        color: #C71585;
    }

    font-family: 'Poppin-bold';
    font-size: 2rem;
    font-weight: bold;
}

.headshot {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poppin';
}

.blog {

    &-link {
        text-decoration: none;
    }

    &-title {
        font-size: 2rem;
        font-weight: bold;
        color: #C71585;
        text-decoration: none;
        font-family: 'Poppin-bold';
    }
}

.home {

    &-time {
        display: flex;
    }

    &-post {
        width: 25%;
        padding: 1.5rem;
    }

    &-read {
        padding-left: 1rem;
    }

    &-body {
        font-weight: bold; 
    }
}